<section class="feature-item">
  <div class="container">
    <div class="row">
      <% @comment["reviews"].each do |id| %>
        <div class="col-md-4">
          <a class="comment-link-unhighlight"href=<%= id["url"] %>>
            <div class="feature-item-objects mx-auto mb-5 mb-lg-0 mb-lg-3">
              <h5><%=id["user"]["name"]%></h5>
              <h6><%=id["rating"]%></h6>
              <p><%=id["text"]%></p>
              <h6><%=id["time_created"].to_date%></h6>
            </div>
          </a>  
        </div>
      <% end %>
    </div>
  </div>
</section>

