<div class="result_box">
		<div class="image">
			<nav class="nav justify-content-end">
				<a class="nav-link active" href="#">Filter</a>
				<a class="nav-link" href="#">Reroll</a>
			</nav>
			<div class='pic'>
				<img class="restaurant_pic" src=<%= @result["image_url"] %> alt="Card image cap">
				<nav class='nav footer_nav'>
					<button type="button" class="result_filter btn btn-primary">Filter</button>
					<a class="nav-link" href="/">Reroll</a>
				</nav>
			</div>
		</div>
		<div class="info">
			<div class="des">
				<h1 class="result_title"><%= @result["name"] %></h1>
				<h4 class="description"><%= @result["price"] %></h4>
				<h4 class="description"><%= @result["rating"] %></h4>
				<div class="description" id="gmap"><%= @googleResult['results'][0]['geometry']['location']['lat'] %></div>
				<div class="description" id="lmap"><%= @googleResult['results'][0]['geometry']['location']['lng'] %></div>
				<h4 class="description">Hours</h4>
				<h4 class="description">open</h4>
			</div>
			<div id="map">
			</div>

			<div class="comments">

				<% @comment["reviews"].each do |id| %>

					<div class="card w-200">
						<a href=<%= id["url"] %>>
							<div class="card-body">
								<h5 class="card-title"><%=id["user"]["name"]%></h5>
								<h6 class="card-title"><%=id["rating"]%></h6>
								<p class="card-text"><%=id["text"]%></p>
								<h6 class="card-title"><%=id["time_created"].to_date%></h6>
							</div>
						</a>	
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

	<script>
	
	function initMap(){
	var x = parseFloat(document.getElementById("gmap").innerHTML);
	var y = parseFloat(document.getElementById("lmap").innerHTML);
	$("#gmap").hide()
	$("#lmap").hide()
	console.log(x);
	console.log(y);
	 var uluru = {lat: x, lng: y};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
}

	</script>

	 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk4AFScfe71HoUesrTGA0MHdSg4l_M-wI&callback=initMap">
    </script>
	